@media (min-width: 768px) {
	#SECTION_POPUP {
		height: 0px;
	}
	#SECTION2 {
		height: 875px;
	}
	#SECTION2>.ladi-section-background {
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
		background-image: url("https://w.ladicdn.com/s1440x875/5ef5a72d784004151c98c304/tomorrowland2015-20200629210854.jpg");
		background-position: center top;
		background-repeat: no-repeat;
	}
	#SECTION187 {
		height: 0px;
	}
	#SECTION187>.ladi-section-background {
		background-color: rgb(20, 20, 20);
	}
	#PARAGRAPH3 {
		width: 524px;
		top: 60px;
		left: 0px;
	}
	#PARAGRAPH3>.ladi-paragraph {
		font-family: "Montserrat", sans-serif;
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		line-height: 1.4;
	}
	#PARAGRAPH4 {
		width: 524px;
		top: 353px;
		left: 1px;
	}
	#PARAGRAPH4>.ladi-paragraph {
		font-family: "Montserrat", sans-serif;
		color: rgb(252, 9, 88);
		font-size: 58px;
		font-weight: bold;
		text-align: left;
		line-height: 1;
	}
	#PARAGRAPH5 {
		width: 771px;
		top: 440px;
		left: 0px;
	}
	#PARAGRAPH5>.ladi-paragraph {
		font-family: "Montserrat", sans-serif;
		color: rgb(255, 255, 255);
		font-size: 70px;
		font-weight: bold;
		text-align: left;
		line-height: 1;
	}
	#LINE305 {
		width: 961px;
		top: 43px;
		left: 0px;
	}
	#LINE305>.ladi-line>.ladi-line-container {
		border-top: 1px solid rgb(252, 9, 88);
		border-right: 1px solid rgb(252, 9, 88);
		border-bottom: 1px solid rgb(252, 9, 88);
		border-left: 0px !important;
	}
	#LINE305>.ladi-line {
		width: 100%;
		padding: 8px 0px;
	}
	#BUTTON_TEXT306 {
		width: 169px;
		top: 8px;
		left: 0px;
	}
	#BUTTON_TEXT306>.ladi-headline {
		font-family: "Open Sans", sans-serif;
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		line-height: 0.785714;
	}
	#BUTTON306 {
		width: 169px;
		height: 27px;
		top: 11px;
		left: 799px;
	}
	#BUTTON306>.ladi-button {
		border-radius: 5px;
	}
	#IMAGE322 {
		width: 117.813px;
		height: 22px;
		top: 14px;
		left: 0px;
	}
	#IMAGE322>.ladi-image>.ladi-image-background {
		width: 117.813px;
		height: 22px;
		top: 0px;
		left: 0px;
		background-image: url("https://w.ladicdn.com/uploads/images/56eb906c-01da-4cf3-b724-283d445dce8b.png");
	}
	#BOX360 {
		width: 447px;
		height: 389px;
		top: 51px;
		left: 513px;
	}
	#BOX360>.ladi-box {
		background: #c6426e;
		background: -webkit-linear-gradient(180deg, #c6426e, #642b73);
		background: linear-gradient(180deg, #c6426e, #642b73);
		opacity: 0.7;
	}
	#FORM361 {
		width: 447px;
		height: 389px;
		top: 51px;
		left: 513px;
	}
	#FORM361>.ladi-form {
		color: rgb(0, 0, 0);
		font-size: 12px;
		line-height: 1.6;
	}
	#FORM361 .ladi-form-item .ladi-form-control::placeholder,
	#FORM361 .ladi-form .ladi-form-item .ladi-form-control-select[data-selected=""],
	#FORM361 .ladi-form .ladi-form-item.ladi-form-checkbox .ladi-form-checkbox-item span[data-checked="false"] {
		color: #000;
	}
	#FORM361 .ladi-form-item-container .ladi-form-item .ladi-form-control-select {
		background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20%23000%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
	}
	#FORM361 .ladi-form-item-container {
		border-style: solid;
		border-color: rgb(238, 238, 238);
		border-width: 1px;
	}
	#BUTTON362 {
		width: 166.028px;
		height: 44.5741px;
		top: 344.426px;
		left: 140.486px;
	}
	#BUTTON362>.ladi-button>.ladi-button-background {
		background: #ff6a00;
		background: -webkit-linear-gradient(180deg, #ff6a00, #ee0979);
		background: linear-gradient(180deg, #ff6a00, #ee0979);
	}
	#BUTTON_TEXT362 {
		width: 166px;
		top: 11.462px;
		left: 0px;
	}
	#BUTTON_TEXT362>.ladi-headline {
		color: rgb(255, 255, 255);
		font-size: 16px;
		text-align: center;
		line-height: 1.6;
	}
	#FORM_ITEM363 {
		width: 447px;
		height: 44.5741px;
		top: 0px;
		left: 0px;
	}
	#FORM_ITEM364 {
		width: 447px;
		height: 44.5741px;
		top: 44.5741px;
		left: 0px;
	}
	#FORM_ITEM365 {
		width: 447px;
		height: 44.5741px;
		top: 89.1481px;
		left: 0px;
	}
	#FORM_ITEM367 {
		width: 447px;
		height: 112px;
		top: 178.711px;
		left: 0px;
	}
	#FORM_ITEM367 .ladi-form-checkbox-item {
		margin: 5px;
	}
	#FORM_ITEM369 {
		width: 447px;
		height: 40px;
		top: 290.711px;
		left: 0px;
	}
	#FORM_ITEM369 .ladi-form-checkbox-item {
		margin: 5px;
	}
	#FORM_ITEM370 {
		width: 447px;
		height: 46.0002px;
		top: 133.722px;
		left: 0px;
	}
	#POPUP377 {
		width: 399px;
		height: 178px;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		margin: auto;
	}
	#POPUP377>.ladi-popup>.ladi-popup-background {
		background-color: rgb(255, 255, 255);
		opacity: 0.93;
	}
	#IMAGE378 {
		width: 135px;
		height: 178px;
		top: 0px;
		left: 0px;
	}
	#IMAGE378>.ladi-image>.ladi-image-background {
		width: 247.5px;
		height: 178px;
		top: 0px;
		left: -52px;
		background-image: url("https://w.ladicdn.com/s550x500/5ef5a72d784004151c98c304/tomorrowland2015-20200629210854.jpg");
	}
	#HEADLINE380 {
		width: 214px;
		top: 67.75px;
		left: 160.5px;
	}
	#HEADLINE380>.ladi-headline {
		color: rgb(10, 103, 233);
		font-size: 30px;
		line-height: 1.2;
	}
	#HEADLINE381 {
		width: 214px;
		top: 38.25px;
		left: 160.5px;
	}
	#HEADLINE381>.ladi-headline {
		color: rgb(84, 84, 84);
		font-size: 14px;
		text-align: left;
		line-height: 1.6;
	}
}

@media (max-width: 767px) {
	#SECTION_POPUP {
		height: 0px;
	}
	#SECTION2 {
		height: 823.599px;
	}
	#SECTION2>.ladi-section-background {
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
		background-image: url("https://w.ladicdn.com/s768x823/5ef5a72d784004151c98c304/tomorrowland2015-20200629210854.jpg");
		background-position: center top;
		background-repeat: no-repeat;
	}
	#SECTION187 {
		height: 449.75px;
	}
	#SECTION187>.ladi-section-background {
		background-color: rgb(20, 20, 20);
	}
	#PARAGRAPH3 {
		width: 355px;
		top: 102.099px;
		left: 6.5px;
	}
	#PARAGRAPH3>.ladi-paragraph {
		font-family: "Montserrat", sans-serif;
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		line-height: 1.2;
	}
	#PARAGRAPH4 {
		width: 355px;
		top: 152.1px;
		left: 6.5px;
	}
	#PARAGRAPH4>.ladi-paragraph {
		font-family: "Montserrat", sans-serif;
		color: rgb(252, 9, 88);
		font-size: 36px;
		font-weight: bold;
		text-align: left;
		line-height: 1;
	}
	#PARAGRAPH5 {
		width: 355px;
		top: 243.6px;
		left: 6.5px;
	}
	#PARAGRAPH5>.ladi-paragraph {
		font-family: "Montserrat", sans-serif;
		color: rgb(255, 255, 255);
		font-size: 40px;
		font-weight: bold;
		text-align: left;
		line-height: 1;
	}
	#LINE305 {
		width: 355px;
		top: 94px;
		left: 32.5px;
	}
	#LINE305>.ladi-line>.ladi-line-container {
		border-top: 1px solid rgb(252, 9, 88);
		border-right: 1px solid rgb(252, 9, 88);
		border-bottom: 1px solid rgb(252, 9, 88);
		border-left: 0px !important;
	}
	#LINE305>.ladi-line {
		width: 100%;
		padding: 8px 0px;
	}
	#BUTTON_TEXT306 {
		width: 169px;
		top: 8px;
		left: 0px;
	}
	#BUTTON_TEXT306>.ladi-headline {
		font-family: "Open Sans", sans-serif;
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		line-height: 0.785714;
	}
	#BUTTON306 {
		width: 169px;
		height: 27px;
		top: 20px;
		left: 125.5px;
	}
	#BUTTON306>.ladi-button {
		border-radius: 5px;
	}
	#IMAGE322 {
		width: 117.813px;
		height: 22px;
		top: 57px;
		left: 151.094px;
	}
	#IMAGE322>.ladi-image>.ladi-image-background {
		width: 117.813px;
		height: 22px;
		top: 0px;
		left: 0px;
		background-image: url("https://w.ladicdn.com/uploads/images/56eb906c-01da-4cf3-b724-283d445dce8b.png");
	}
	#BOX360 {
		width: 407px;
		height: 382.185px;
		top: 323.6px;
		left: 6.5px;
	}
	#BOX360>.ladi-box {
		background: #c6426e;
		background: -webkit-linear-gradient(180deg, #c6426e, #642b73);
		background: linear-gradient(180deg, #c6426e, #642b73);
		opacity: 0.7;
	}
	#FORM361 {
		width: 407px;
		height: 382.185px;
		top: 323.6px;
		left: 6.5px;
	}
	#FORM361>.ladi-form {
		color: rgb(0, 0, 0);
		font-size: 12px;
		line-height: 1.6;
	}
	#FORM361 .ladi-form-item .ladi-form-control::placeholder,
	#FORM361 .ladi-form .ladi-form-item .ladi-form-control-select[data-selected=""],
	#FORM361 .ladi-form .ladi-form-item.ladi-form-checkbox .ladi-form-checkbox-item span[data-checked="false"] {
		color: #000;
	}
	#FORM361 .ladi-form-item-container .ladi-form-item .ladi-form-control-select {
		background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20%23000%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
	}
	#FORM361 .ladi-form-item-container {
		border-style: solid;
		border-color: rgb(238, 238, 238);
		border-width: 1px;
	}
	#BUTTON362 {
		width: 151.171px;
		height: 45.1192px;
		top: 337.066px;
		left: 127.915px;
	}
	#BUTTON362>.ladi-button>.ladi-button-background {
		background: #ff6a00;
		background: -webkit-linear-gradient(180deg, #ff6a00, #ee0979);
		background: linear-gradient(180deg, #ff6a00, #ee0979);
	}
	#BUTTON_TEXT362 {
		width: 151px;
		top: 11.6021px;
		left: 0px;
	}
	#BUTTON_TEXT362>.ladi-headline {
		color: rgb(255, 255, 255);
		font-size: 16px;
		text-align: center;
		line-height: 1.6;
	}
	#FORM_ITEM363 {
		width: 407px;
		height: 45.1192px;
		top: 0px;
		left: 0px;
	}
	#FORM_ITEM364 {
		width: 407px;
		height: 45.1192px;
		top: 45.1192px;
		left: 0px;
	}
	#FORM_ITEM365 {
		width: 407px;
		height: 45.1192px;
		top: 90.2384px;
		left: 0px;
	}
	#FORM_ITEM367 {
		width: 407px;
		height: 112px;
		top: 180.897px;
		left: 0px;
	}
	#FORM_ITEM367 .ladi-form-checkbox-item {
		margin: 5px;
	}
	#FORM_ITEM369 {
		width: 407px;
		height: 40px;
		top: 292.897px;
		left: 0.0005px;
	}
	#FORM_ITEM369 .ladi-form-checkbox-item {
		margin: 5px;
	}
	#FORM_ITEM370 {
		width: 407px;
		height: 46.0102px;
		top: 135.358px;
		left: 0px;
	}
	#POPUP377 {
		width: 400px;
		height: 400px;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		margin: auto;
	}
	#POPUP377>.ladi-popup>.ladi-popup-background {
		background-color: rgb(255, 255, 255);
		opacity: 0.93;
	}
	#IMAGE378 {
		width: 135px;
		height: 178px;
		top: 0px;
		left: 0px;
	}
	#IMAGE378>.ladi-image>.ladi-image-background {
		width: 247.5px;
		height: 178px;
		top: 0px;
		left: -52px;
		background-image: url("https://w.ladicdn.com/s550x500/5ef5a72d784004151c98c304/tomorrowland2015-20200629210854.jpg");
	}
	#HEADLINE380 {
		width: 214px;
		top: 67.75px;
		left: 160.5px;
	}
	#HEADLINE380>.ladi-headline {
		color: rgb(10, 103, 233);
		font-size: 30px;
		line-height: 1.2;
	}
	#HEADLINE381 {
		width: 214px;
		top: 38.25px;
		left: 160.5px;
	}
	#HEADLINE381>.ladi-headline {
		color: rgb(84, 84, 84);
		font-size: 14px;
		text-align: left;
		line-height: 1.6;
	}
}